.button {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;  
  margin: 0 0 0 10px ;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.button_red {
  border: 1px solid rgba(156, 0, 0, 0.582);
  color: #c20000;
}

.button_red:hover {
  border: 1px solid rgba(210, 25, 25, 0.041);
}

.button_blue {
  border: 1px solid rgba(0, 11, 59, 0.5);
  color: #065abb;
}

.button_blue:hover {
  border: 1px solid rgba(0, 11, 59, 0.05);
}

.button_green {
  border: 1px solid rgb(0, 112, 2);
  color: #008f00;
}

.button_green:hover {
  border: 1px solid rgba(0, 112, 2, 0.13);
}