.todoTaskContainer {
  text-align: start;
  border: 2px solid;
  border-radius: 10px;
  width: -webkit-fill-available;
  padding: 8px;
  background-color: #ffffff;
  font-size: 20px;
}

.todoItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: -webkit-fill-available;
  margin: 10px auto 0px auto;
}

